  <ul id="one-game">

  </ul>
  <p>Want to add your game?<p>
  <div class="form-group" id="new-game">
    <input class="form-control hidden" type="text" id="current-user" value="<%= current_user.id %>">
    <input class="form-control hidden" type="text" id="current-role" value="<%= current_user.role %>">
    <input class="form-control" type="text" id="game-name" placeholder="Name">
    <input class="form-control" type="url" id="game-heroku" placeholder="Game Link: Must be the full url">
    <input class="form-control" type="url" id="game-github" placeholder="Github URL: Must be the full url">
    <input class="form-control" type="url" id="game-screenshot" placeholder="Gif: Must be the full url">
    <input class="form-control" type="text" id="game-check" placeholder="What is the wifi password at Turing?">
    <input class="btn btn-default pull-right" id="create-game" type="button" name="submit" value="Add My Game!">
  </div>
