
<div class="header">
  <h1 class="index-header">All Gametime Games</h1>
</div>
<div id="latest-games">
  <% @games.each do |game| %>
  <ul class="list-group col-md-3">
    <li class="list-group-item"><%= link_to game.name, game_path(game.slug) %></li>
    <li class="list-group-item"><%= link_to "Play the Game!", game.heroku_url, target: "_blank" %></li>
    <li class="list-group-item"><%= link_to "Check out the Code!", game.github_url, target: "_blank" %></li>
    <li class="list-group-item"><%= image_tag game.screenshot_or_gif %></li>

  </ul>
  <% end %>
</div>
