body {
  font-family: 'Aldrich', sans-serif;
  text-align: center;
  padding: 0;
  background-image: url("https://s-media-cache-ak0.pinimg.com/originals/57/99/01/579901ad1cb271dc56fe0d557579934a.gif") ;
  background-size: cover;
}

html, body {
    height: 100%;
}


.list-group {
  height: 440px;
}

.list-group-item > img {
  width: 100%;
  object-fit: contain;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -155px;
}

footer, .push {
    height: 155px;
}

footer {
  text-align: center;
}

#links:visited {
  color: #98FB98;
}

#main-header {
  font-size: 32px;
  color: green;
  padding-top: 25px;
  padding-bottom: 25px;

}

nav.navbar.navbar-default.poop-bar {
  font-family: 'Press Start 2P', cursive;
  background-color: black;
  width: 100%;
  margin-top: 0;
}

nav.navbar.navbar-default.navbar-fixed-bottom {
  background-color: black;
  color: gray;
}

nav.navbar.navbar-default.navbar-fixed-bottom > .container > p {
  margin-top: 17px;
  font-size: 8px;
  text-align: center;
}


.collapse.navbar-collapse {
  background-color: white;
}

.mushroom-img {
  width: 48px;
  margin-left: 15px;
}

.game-show {
  background-color: white;
  width: 100%;
}

.user-show {
  background-color: white;
  border-style: outset;
  border-radius: 15px/50px;
  margin-left:100px;
  margin-right: 100px;
}

.header {
  background-color: white;
}

#copyright {
  background-color: white;
}

.game-title {
  padding: 15px;
  text-align: center;
}

#game-image {
  border-radius: 5px;
  max-height: 300px;
}

.collab-card {
  width: 25%;
  display: inline-block;
}
.collab-image {
  height: 100px;
  border-radius: 50px;
}
.collaborators {
  padding: 15px;
  text-align: center;
}

.play-game {
  background-color: green;
  position: absolute;
  top: 50%;
}

.wrapper-game {
    text-align: center;
}

.alumni {
  text-align: center;
}

.homepage-options {
  width: 1000px;
  height: 100px;
  position: absolute;
  top:0;
  bottom: 300px;
  left: 0;
  right: 0;
  padding: 10px;
  margin: auto;
}

#github-login {
  font-size: 25px;
  width: 280px;
  height: 50px;
  background-color: white;
  border-style: outset;
  border-radius: 15px/50px;
  padding-top: 2px;
  text-align: center;

}

#guest-login {
  background-color: white;
  font-size: 25px;
  text-align: center;
  width: 340px;
  left: 340px;
  border-style: outset;
  border-radius: 15px/50px;
  padding-top: 2px;
  padding-bottom: 10px;
}

#right-nav {
  padding-top: 15px;
}

.form-group {
    width: 800px;
    height: 100px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.header {
  margin-bottom: 10px;
  border-style: outset;
  border-radius: 15px/50px;
}
