body {
  font-family: 'Aldrich', sans-serif;
  text-align: center;
  padding: 0;
  background-image: url("https://s-media-cache-ak0.pinimg.com/originals/57/99/01/579901ad1cb271dc56fe0d557579934a.gif") ;
  background-size: cover;
}

html, body {
    height: 100%;
}

.list-group-item:first-child {
  font-size: 20px;
  font-weight: bolder;
}

.list-group-item > img {
  position: relative;
  width:  200px;
  height: 150px;
  background-position: 50% 50%;
  background-repeat:   no-repeat;
  background-size:     cover;

}
.list-group {
  font-size: 15px;
  height: 440px;
}

.list-group-item:last-child {
  background-color: #FFFFE5;
  opacity: .98
  height: 200px;
}


footer {
  text-align: center;
}

#links:visited {
  color: #98FB98;
}

#main-header {
  font-size: 40px;
  color: green;
  padding-top: 25px;
  padding-bottom: 25px;

}

nav.navbar.navbar-default.poop-bar {
  background-color: black;
  width: 100%;
  margin-top: 0;
}

nav.navbar.navbar-default.navbar-fixed-bottom {
  background-color: black;
  color: gray;
}

nav.navbar.navbar-default.navbar-fixed-bottom > .container > p {
  margin-top: 17px;
  font-size: 8px;
  text-align: center;
}


.collapse.navbar-collapse {
  background-color: white;
}

.mushroom-img {
  width: 30px;
  margin-top: 5px;
}

.game-show {
  background-color: white;
  opacity: .96;
  width: 700px;
  margin: auto;
  border-radius: 15px;
  border-style: outset;
  padding-bottom: 20px;
}

.user-show {
  background-color: white;
  opacity: .96;
  border-style: outset;
  border-radius: 15px;
  margin-left:100px;
  margin-right: 100px;
}

.header {
  background-color: white;
  opacity: .96;
}

.game-title {
  padding: 15px;
  text-align: center;
}

#game-image {
  border-radius: 5px;
  max-height: 300px;
}

.collab-card {
  width: 25%;
  display: inline-block;
}
.collab-image {
  height: 100px;
  border-radius: 50px;
}
.collaborators {
  padding: 15px;
  text-align: center;
}

.play-game {
  background-color: green;
  position: absolute;
  top: 50%;
}

.play-link {
  font-size: 25px;
}

.wrapper-game {
    text-align: center;
}

.alumni {
  text-align: center;
  font-size: 20px;
}

#guest-login {
  background-color: white;
  font-size: 23px;
  text-align: center;
  width: 450px;
  border-style: outset;
  border-radius: 15px;
  padding-top: 2px;
  padding-bottom: 10px;
  position: absolute;
  left: 0;
  right: 0;
  padding: 10px;
  margin: auto;
}

#right-nav {
  padding-top: 15px;
}

#update-game-form {
  width: inherit;
  height: 240px;
  background-color: white;
  left:0;
  right:0;
  position: absolute;
  padding: 10px;
  margin: auto;
  border-style: outset;
  border-radius: 15px;
  opacity: .96;
  top: 900px;
  margin-bottom: 75px;
}

#new-game {
  width: 600px;
  height: 230px;
  background-color: white;
  left:0;
  right:0;
  position: absolute;
  padding: 10px;
  margin: auto;
  top: 300px;
  border-style: outset;
  border-radius: 15px;
  opacity: .96;
}

.header {
  margin-bottom: 10px;
  border-style: outset;
  border-radius: 15px;
}

.browse_css_class {
  background-color: yellow;
}

#update_game_form {
  margin-bottom: 10px;
}

.deleted-game {
  background-color: white;
  border-radius: 15px;
  border-style: outset;
  opacity: .96;
}
